body
{
    color: #333);
    text-align: :left;
    font-family: "Arial";
    font-size: 50px
}

#cabecera
{
    background: rgb(0, 89, 80);
    box-shadow: 0px 2px 20px 0px rgba(41, 240, 213, 0.672);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0,5em;

}

#container
{
        width: : 70%;
        padding : 1em;
        text-align: left;
        border : 1px solid #ddd;
        margin: 0 auto;

}

#container h1
{
    font-size: 40px;
}

#container p
{
    font-size: 25px;
}